/* GLOBAL STYLES */

body,
pre,
button,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: hsl(0, 0%, 26.3%);
}

main {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  align-items: center;
}

/* FORM STYLES */

#form-wrapper__id {
  display: flex;

  width: 100%;
  justify-content: center;
  border: 1px solid red;
}

#form__id {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-flow: column;
  margin: 1rem auto;
  flex: 1;
}

#textarea__id {
  overflow-y: scroll;
  padding: 0rem 0.75rem;
  font-weight: 200;
  min-height: 200px;
  max-height: 40vh;
}

#preset-fieldset__id,
#textarea__id,
#btn-submit__id {
  margin-bottom: 1.5rem;
}

#submit-btn__id,
#back-btn__id,
#view-btn__id {
  font-size: large;
  border: 0;
  border-radius: 0.25rem;
  padding: 1rem;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
  box-shadow: 0 4px 12px 2px rgba(171, 174, 209, 0.4);
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  z-index: 10;
}

#submit-btn__id {
  align-self: center;
  border: 3px double hsl(0, 0%, 20%);
}

/* TILED TEXT DISPLAY STYLES */

#display-container__id {
  display: none;

  align-content: flex-start;
  flex-flow: column wrap;
  flex: 1;
  height: 95vh;
  max-height: 99vh;
  padding: 1rem;
}

#display-btns__id {
  position: fixed;
  top: 0.75rem;
  left: 1rem;
}

#display-btns__id > button {
  background-color: hsla(0, 0%, 0%, 0);
  border: 3px double hsl(0, 0%, 80%);
}

#view-btn__id::after {
  content: "reading mode";
}

#back-btn__id::after {
  content: "⬅ BACK (Shift + B)";
}

.par-container__class {
  background-color: hsl(0, 0%, 95%);
  margin: 0.75rem 1rem 0.5rem 0.5rem;
  padding: 0.75rem;
  position: relative;
  width: min-content;
}

.par-container__class:nth-of-type(2) {
  margin-top: 6rem;
}

.par-text__class {
  width: 40%;
  min-width: 300px;
  white-space: pre-line;

  margin-top: 1rem;
  position: relative;
}

/* PARAGRAPH COLLAPSE BUTTON */

.collapse-btn__class {
  font-size: x-large;
  border: 0;
  background-color: white;
  color: black;
  font-family: sans-serif;
  position: absolute;
  display: initial;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: -1rem;
  left: -1rem;
  box-shadow: 0 4px 12px 2px rgba(171, 174, 209, 0.4);
  cursor: pointer;
}

.collapse-btn__class::after {
  content: "-";
}

.par-container__class.collapsed > .collapse-btn__class::after {
  content: "+";
}
