/* GLOBAL STYLES */

body,
button,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: hsl(0, 0%, 26.3%);
}

main {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  align-items: center;
  display: flex;
  border: 1px solid black;
}

/* FORM STYLES */

#form-wrapper__id {
  display: flex;

  width: 100%;
  justify-content: center;
}

#form__id {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-flow: column;
  margin: 1rem auto;
  flex: 1;
}

#textarea__id {
  overflow-y: scroll;
  padding: 0rem 0.75rem;
  font-weight: 200;
  min-height: 200px;
  max-height: 40vh;
  font-family: monospace;
}

#preset-fieldset__id,
#textarea__id,
#btn-submit__id {
  margin-bottom: 1.5rem;
}

#submit-btn__id,
#back-btn__id,
#view-btn__id {
  font-size: large;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
  box-shadow: 0 4px 12px 2px rgba(171, 174, 209, 0.4);
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  z-index: 10;
}

#submit-btn__id {
  align-self: center;
  border: 3px double hsl(0, 0%, 20%);
}

/* TILED TEXT DISPLAY STYLES */

#display-container__id {
  display: none;

  align-content: flex-start;
  flex-flow: column wrap;
  flex: 1;
  height: 95vh;
  max-height: 99vh;
  padding: 1rem;
  padding-top: 5rem;
}

#display-btns__id {
  position: fixed;
  top: 0.75rem;
  left: 1rem;
  display: flex;
  z-index: 10;
}

#display-btns__id > button {
  background-color: hsla(0, 0%, 0%, 0);
  border: 3px double hsl(0, 0%, 80%);
}

#view-btn__id::after {
  content: "reading mode";
}

#view-btn__id.reading-mode::after {
  content: "editing mode";
}

#back-btn__id::after {
  content: "⬅ BACK";
}

/* DISPLAY CONTROLS */

#formatting-btns__id {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.75rem;
  font-variant: small-caps;
  padding: 0.75rem;
}

.reading-mode #formatting-btns__id {
  opacity: 0.5;
}

.reading-mode #view-btn__id,
.reading-mode #back-btn__id {
  opacity: 0.3;
  font-weight: normal;
  font-variant: small-caps;
  border-width: 0;
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  margin-left: 0.75rem;
}

/* PARAGRAPH STYLES */

.par-container__class {
  background-color: rgb(241, 241, 241);
  margin: 0.75rem 1rem 0.5rem 0.5rem;
  padding: 0.75rem;
  position: relative;
  width: 40%;
  min-width: 300px;
}

.reading-mode .par-container__class {
  background-color: white;
  border-left: 1px solid hsl(0, 0%, 78%);
}

/* .par-container__class:nth-of-type(2) {
  margin-top: 6rem;
} */

/* PARAGRAPH LINES WRAPPER */

.par-lines-wrapper__class {
  margin-top: 1rem;
  position: relative;
  margin-left: 30px;
  text-indent: -30px;
}

.reading-mode .par-lines-wrapper__class {
  margin-top: 0;
}

.is-bold__class > .par-lines-wrapper__class > .par-line__class {
  font-weight: bolder;
}

.collapsed > .par-lines-wrapper__class {
  height: 3rem;
  overflow-y: hidden;
  position: relative;
  padding-left: 30px;
  margin-left: 0px;
}

.collapsed > .par-lines-wrapper__class::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 1rem;
  height: 3rem;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(241, 241, 241, 1),
      rgba(241, 241, 241, 0)
    ),
    -webkit-linear-gradient(rgba(241, 241, 241, 1), rgba(241, 241, 241, 0));
  pointer-events: none;
}

/* PARAGRAPH LINE STYLES */

.par-line__class {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* PARAGRAPH COLLAPSE BUTTON */

.round-btn__class {
  font-size: x-large;
  border: 0;
  background-color: white;
  color: black;
  font-family: sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: -1rem;
  left: -1rem;
  box-shadow: 0 4px 12px 2px rgba(171, 174, 209, 0.4);
  cursor: pointer;
}

.collapse-btn__class {
  left: -1rem;
}

.bold-btn__class {
  left: 1.5rem;
}

.round-btn__class::after {
  content: "-";
}

.bold-btn__class::after {
  content: "B";
  font-weight: bolder;
  font-size: small;
}

.is-bold__class > .bold-btn__class::after {
  font-weight: normal;
}

.par-container__class.collapsed > .collapse-btn__class::after {
  content: "+";
}

.reading-mode .round-btn__class {
  display: none;
}
