---
layout: default.liquid
---

{# FORM #}
<div id="form-wrapper__id" tabindex="0">
  <header>
    <h1>
      <a href="/">🔳</a>
      <h1>text-tiler</h1>
    </h1>
  </header>
  <form id="form__id">
    <fieldset id="preset-fieldset__id">
      <legend>Use sample input:</legend>
      <ul>
        <li>
          <label for="preset-none__id">None</label>
          <input
              type="radio"
              id="preset-none__id"
              name="sample-input"
              value=""

/>
        </li>
        <li>
          <label for="preset-lyrics__id">All Among the Barley (Lyrics)</label>
          <input
              type="radio"
              id="preset-lyrics__id"
              name="sample-input"
              value="{{lyrics}}"
              checked
/>
        </li>
        {# <li>
          <label for="preset-recipe__id">Vegan Linzer Cookies (Recipe)</label>
          <input
              type="radio"
              id="preset-recipe__id"
              name="sample-input"
              value="{{recipe}}"
/>
        </li> #}
        {# <li>
          <label for="preset-species__id">Swamp Spruce (Species)</label>
          <input
              type="radio"
              id="preset-species__id"
              name="sample-input"
              value="{{species}}"
/>
        </li> #}
        <li>
          <label for="preset_long_lyrics__id">The House Carpenter (Long lyrics)</label>
          <input
              type="radio"
              id="preset_long_lyrics__id"
              name="sample-input"
              value="{{house_carpenter}}"
              checked
/>
        </li>
        {# <li>
          <label for="preset_short_lyrics__id">Leave Her, Johnny (Short lyrics)</label>
          <input
              type="radio"
              id="preset_short_lyrics__id"
              name="sample-input"
              value="{{leave_her_johnny}}"
/>
        </li> #}
        <li>
          <label for="preset__si_mon_moine">Ah ! Si mon moine</label>
          <input
              type="radio"
              id="preset__si_mon_moine"
              name="sample-input"
              value="{{si_mon_moine}}"
/>
        </li>
        <li>
          <label for="preset__golden_vanity">The Golden Vanity</label>
          <input
              type="radio"
              id="preset__golden_vanity"
              name="sample-input"
              value="{{golden_vanity}}"
/>
        </li>
        {# <li>
          <label for="preset_wide_lyrics__id">All Among the Barley (Wide lyrics)</label>
          <input
              type="radio"
              id="preset_wide_lyrics__id"
              name="sample-input"
              value="{{all_among_the_barley}}"
              checked
/>
        </li> #}
      </ul>

    </fieldset>
    <label for="textarea__id"></label>
    <textarea
        required
        id="textarea__id"
        name="raw-text"
        rows="15"
        cols="30"
        placeholder="Type or paste some paragraphs, each seperated by an empty line."
        value=""
        maxlength="10000"
        autofocus
      >{{ all_among_the_barley }}</textarea>
    <button type="submit" id="submit-btn__id">Submit (ctrl + Enter)</button>
  </form>
</div>

{# TILED TEXT DISPLAY #}
<div id="display-container__id" tabindex="0">
  <header id="display-container-header__id">
    <h1>
      <a href="/">🔳</a>
      <h1>text-tiler</h1>
    </h1>
    <div id="display-btns__id">
      <button id="back-btn__id"></button>
      <button id="view-btn__id"></button>
      <div id="formatting-btns__id">
        <div class="format-btns-wrapper__class">
          <label>Font size: </label>
          <button aria-label="increase font size" id="btn-font-size-inc__id" class="btn-format__class">+</button>
          <button aria-label="decrease font size" id="btn-font-size-dec__id" class="btn-format__class">-</button>
        </div>
        <div class="format-btns-wrapper__class">
          <label>Column width:</label>
          <button aria-label="increase colwidth" id="btn-w-cols-inc__id" class="btn-format__class">+</button>
          <button aria-label="decrease colwidth" id="btn-w-cols-dec__id" class="btn-format__class">-</button>
        </div>
        <div class="format-btns-wrapper__class">
          <label>Col min width: </label >
          <button aria-label="increase col min width" id="btn-minw-cols-inc__id" class="btn-format__class">+</button>
          <button aria-label="decrease col min width" id="btn-minw-cols-dec__id" class="btn-format__class">-</button>
        </div>
        {# <div class="format-btns-wrapper__class">
          <label id=""># columns: </label id="">
          <button id="btn-n-cols-inc__id" class="btn-format__class">+</button>
          <button id="btn-n-cols-dec__id" class="btn-format__class">-</button>
        </div> #}
      </div>
    </div>
  </header>
  <div id="display-paragraphs__id"></div>
</div>

{# PARAGRAPHS #}
<template id="par-template__id">
  <div class="par-container__class">
    <button class="round-btn__class collapse-btn__class"></button>
    <button class="round-btn__class bold-btn__class"></button>
    <div class="par-lines-wrapper__class">
      {# Lines of paragraph go here #}
    </div>
  </div>
</template>

<script src="{{ '/js/app.js' | url }}" type="text/javascript"></script>